<th:block th:fragment>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MyBook</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <!--<link rel="stylesheet" th:href="@{/css/fileUpload.css}" />-->
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!--<script th:src="@{/js/utilfileUploadUtil.js/}"></script>-->
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/validator/10.11.0/validator.min.js}"></script>
    <script th:src="@{/js/validation/validationUtils.js}"></script>
    <script th:src="@{/js/validation/validationRules.js}"></script>
</th:block>